html,
body {
    background-color: #fafafa;
}

.base-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-optical-sizing: auto;
    font-style: normal;
}
