.base-container {
    font-family: 'Work Sans';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-grid {
    width: 100%;
}
